In [3]:
import pandas as pd
import numpy as np

In [4]:
def calculate_wage(hours:float, 
                   rate:float, 
                   date_range:str='m')->float:
    '''This calculates wage based on hours and rate.
        If date_range='m' then regular hours 173.3,
        if date_range='w' then regular hours 40! '''
    
    if not(isinstance(hours,float) or isinstance(rate,float)):
        #update data types if not correct
        hours = float(hours)
        rate = float(rate)

    if date_range=='m':
        regular_hours = 173.3
    elif date_range=='w':
        regular_hours = 40
    else:
        raise ValueError ('date_range excpets just "w" or "m" ')
        
    overtime_multiplier = 1.5

    if hours > regular_hours:
        regular_wage = regular_hours * rate
        overtime_hours = hours - regular_hours
        overtime_wage = overtime_hours * rate * overtime_multiplier
        total_wage = regular_wage + overtime_wage
    else:
        total_wage = hours * rate

    return total_wage

In [5]:
173.3 * 10 + 26.7*1.5*10

2133.5

In [6]:
calculate_wage(200,10,'m')

2133.5

In [7]:
# read the hours_rate_date with open() function
with open('hours_rate_date.csv') as employees:
    hours = employees.readlines()
    for emp in hours[1:]:
        # print(emp)
        # print(type(emp))
        name,date,hours,rate = emp.replace('\n','').split(',')
        print(name,date,hours,rate)
        rate = rate.strip()[1:]
        rate = rate[:-1]
        print(name,date,hours,rate)
        # rate = rate[1:]
        # wage = float(hours) * float(rate)
        wage = calculate_wage(hours,rate)
        print(name,hours,rate,wage)

Alice 2024-01-01 245  $25.00
Alice 2024-01-01 245 25.0
Alice 245 25.0 7021.25
Alice 2024-02-01 224 26.00 $ .
Alice 2024-02-01 224 6.00 $

ValueError: could not convert string to float: '6.00 $ '

In [ ]:
# read the hours_rate_date with open() function
with open('hours_rate_date.csv') as employees:
    hours = employees.readlines()
    for emp in hours[1:]:
        name,date,hours,rate = emp.replace('\n','').split(',')
        print(name,date,hours,rate)
        rate = rate.replace('£','').replace('€','').replace('$','').strip()
        print(name,date,hours,rate)
        wage = calculate_wage(hours,rate)
        print(name,hours,rate,wage)

Alice 2024-01-01 245  $25.00
Alice 2024-01-01 245 25.00
Alice 245 25.00 7021.25
Alice 2024-02-01 224 26.00 $ .
Alice 2024-02-01 224 26.00  .

ValueError: could not convert string to float: '26.00  .'

In [ ]:
# read the hours_rate_date with open() function
with open('hours_rate_date.csv') as employees:
    hours = employees.readlines()
    for emp in hours[1:]:
        name,date,hours,rate = emp.replace('\n','').split(',')
        print(name,date,hours,rate)
        rate = rate.replace('£','').replace('€','').replace('$','').replace('@','').strip()
        print(name,date,hours,rate)
        wage = calculate_wage(hours,rate)
        print(name,hours,rate,wage)

In [39]:
non_a_num_char = "()`~!@#$%^&*-+=|\\\"{ }[]:;'<>,?/_."

In [32]:
len(non_a_num_char)

32

In [13]:
example_str = '26.00 $ .'
for char in non_a_num_char:
    print(char,'->',example_str)
    if char == '.':
        dot_index = example_str.index('.')
        rate_1 = rate[:dot_index]
        print(rate_1)
        rate_2 = rate[dot_index:].replace('.','')
        print(rate_2)
        rate = rate_1+'.'+rate_2
        print(rate)
    else:
        example_str = example_str.replace(char,'')

( -> 26.00 $ .
) -> 26.00 $ .
` -> 26.00 $ .
~ -> 26.00 $ .
! -> 26.00 $ .
@ -> 26.00 $ .
# -> 26.00 $ .
$ -> 26.00 $ .
% -> 26.00  .
^ -> 26.00  .
& -> 26.00  .
* -> 26.00  .
- -> 26.00  .
+ -> 26.00  .
= -> 26.00  .
| -> 26.00  .
\ -> 26.00  .
" -> 26.00  .
{ -> 26.00  .
  -> 26.00  .
} -> 26.00.
[ -> 26.00.
] -> 26.00.
: -> 26.00.
; -> 26.00.
' -> 26.00.
< -> 26.00.
> -> 26.00.
, -> 26.00.
? -> 26.00.
/ -> 26.00.
_ -> 26.00.
. -> 26.00.
$.
2500
$..2500

In [11]:
non_a_num_char = "()`~!@#$%^&*-+=|\\\"{ }[]:;'<>,?/_."
# read the hours_rate_date with open() function
with open('hours_rate_date.csv') as employees:
    hours = employees.readlines()
    for emp in hours[1:]:
        name,date,hours,rate = emp.replace('\n','').split(',')
        print(name,date,hours,rate)
        for char in non_a_num_char:
            print(char,'->',example_str)
            if char == '.':
                dot_index = example_str.index('.')
                rate_1 = rate[:dot_index]
                # print(rate_1)
                rate_2 = rate[dot_index:].replace('.','')
                # print(rate_2)
                rate = rate_1+'.'+rate_2
                # print(rate)
            else:
                example_str = example_str.replace(char,'')
        rate = rate.strip()
        print(name,date,hours,rate)
        wage = calculate_wage(hours,rate)
        print(name,hours,rate,wage)

Alice 2024-01-01 245  $25.00
( -> 26.00
) -> 26.00
` -> 26.00
~ -> 26.00
! -> 26.00
@ -> 26.00
# -> 26.00
$ -> 26.00
% -> 26.00
^ -> 26.00
& -> 26.00
* -> 26.00
- -> 26.00
+ -> 26.00
= -> 26.00
| -> 26.00
\ -> 26.00
" -> 26.00
{ -> 26.00
  -> 26.00
} -> 26.00
[ -> 26.00
] -> 26.00
: -> 26.00
; -> 26.00
' -> 26.00
< -> 26.00
> -> 26.00
, -> 26.00
? -> 26.00
/ -> 26.00
_ -> 26.00
. -> 26.00
Alice 2024-01-01 245 $.2500

ValueError: could not convert string to float: '$.2500'

In [1]:
import re

example_str = '26.00 $ '
regex_pattern = r'[^0-9.]'
re.sub(regex_pattern,'',example_str)

'26.00'

In [9]:
regex_pattern = r'[^0-9.]'

with open('hours_rate_date.csv') as employees:
    hours = employees.readlines()
    for emp in hours[1:]:
        name,date,hours,rate = emp.replace('\n','').split(',')
        print(name,date,hours,rate)
        rate = re.sub(regex_pattern,'',rate).strip() # solution with regex
        print(name,date,hours,rate)
        wage = calculate_wage(hours,rate)
        print(name,hours,rate,wage)

Alice 2024-01-01 245  $25.00
Alice 2024-01-01 245 25.00
Alice 245 25.00 7021.25
Alice 2024-02-01 224 26.00 $
Alice 2024-02-01 224 26.00
Alice 224 26.00 6483.1
Alice 2024-03-01 250 $27.00
Alice 2024-03-01 250 27.00
Alice 250 27.00 7785.45
Bob 2024-01-01 240  €22.50
Bob 2024-01-01 240 22.50
Bob 240 22.50 6150.375
Bob 2024-02-01 230 € 23.00
Bob 2024-02-01 230 23.00
Bob 230 23.00 5942.049999999999
Bob 2024-03-01 245 24.00 €
Bob 2024-03-01 245 24.00
Bob 245 24.00 6740.400000000001
Charlie 2024-01-01 255 $30.00
Charlie 2024-01-01 255 30.00
Charlie 255 30.00 8875.5
Charlie 2024-02-01 238 $31.00
Charlie 2024-02-01 238 31.00
Charlie 238 31.00 8380.849999999999
Charlie 2024-03-01 260  $32.00
Charlie 2024-03-01 260 32.00
Charlie 260 32.00 9707.2
Diana 2024-01-01 220 £28.50
Diana 2024-01-01 220 28.50
Diana 220 28.50 6935.474999999999
Diana 2024-02-01 235 £29.00
Diana 2024-02-01 235 29.00
Diana 235 29.00 7709.650000000001
Diana 2024-03-01 210 30.00£
Diana 2024-03-01 210 30.00
Diana 210 30.00 6850.499999999999