In [2]:
import pandas as pd
import numpy as np

In [24]:
def calculate_wage(hours:float, 
                   rate:float, 
                   date_range:str='m')->float:
    '''This calculates wage based on hours and rate.
        If date_range='m' then regular hours 173.3,
        if date_range='w' then regular hours 40! '''
    
    if date_range=='m':
        regular_hours = 173.3
    elif date_range=='w':
        regular_hours = 40
    else:
        raise ValueError ('date_range excpets just "w" or "m" ')
        
    overtime_multiplier = 1.5

    if hours > regular_hours:
        regular_wage = regular_hours * rate
        overtime_hours = hours - regular_hours
        overtime_wage = overtime_hours * rate * overtime_multiplier
        total_wage = regular_wage + overtime_wage
    else:
        total_wage = hours * rate

    return total_wage

In [20]:
173.3 * 10 + 26.7*1.5*10

2133.5

In [25]:
calculate_wage(200,10,'m')

2133.5

In [20]:
# read the hours_rate_date with open() function
with open('hours_rate_date.csv') as employees:
    hours = employees.readlines()
    for emp in hours[1:]:
        # print(emp)
        # print(type(emp))
        name,date,hours,rate = emp.replace('\n','').split(',')
        print(name,date,hours,rate)
        rate = rate.strip()[1:]
        # rate = rate[1:]
        wage = float(hours) * float(rate)
        print(name,hours,rate,wage)

Alice 2024-01-01 245  $25.00
Alice 245 25.00 6125.0
Alice 2024-02-01 224 $26.00
Alice 224 26.00 5824.0
Alice 2024-03-01 250 $27.00
Alice 250 27.00 6750.0
Bob 2024-01-01 240  €22.50
Bob 240 22.50 5400.0
Bob 2024-02-01 230 €23.00
Bob 230 23.00 5290.0
Bob 2024-03-01 245 €24.00
Bob 245 24.00 5880.0
Charlie 2024-01-01 255 $30.00
Charlie 255 30.00 7650.0
Charlie 2024-02-01 238 $31.00
Charlie 238 31.00 7378.0
Charlie 2024-03-01 260  $32.00
Charlie 260 32.00 8320.0
Diana 2024-01-01 220 £28.50
Diana 220 28.50 6270.0
Diana 2024-02-01 235 £29.00
Diana 235 29.00 6815.0
Diana 2024-03-01 210 £30.00
Diana 210 30.00 6300.0