In [9]:
import pandas as pd
import numpy as np

In [10]:
def calculate_wage(hours:float, 
                   rate:float, 
                   date_range:str='m')->float:
    '''This calculates wage based on hours and rate.
        If date_range='m' then regular hours 173.3,
        if date_range='w' then regular hours 40! '''
    
    if not(isinstance(hours,float) or isinstance(rate,float)):
        #update data types if not correct
        hours = float(hours)
        rate = float(rate)

    if date_range=='m':
        regular_hours = 173.3
    elif date_range=='w':
        regular_hours = 40
    else:
        raise ValueError ('date_range excpets just "w" or "m" ')
        
    overtime_multiplier = 1.5

    if hours > regular_hours:
        regular_wage = regular_hours * rate
        overtime_hours = hours - regular_hours
        overtime_wage = overtime_hours * rate * overtime_multiplier
        total_wage = regular_wage + overtime_wage
    else:
        total_wage = hours * rate

    return total_wage

In [11]:
173.3 * 10 + 26.7*1.5*10

2133.5

In [12]:
calculate_wage(200,10,'m')

2133.5

In [13]:
# read the hours_rate_date with open() function
with open('hours_rate_date.csv') as employees:
    hours = employees.readlines()
    for emp in hours[1:]:
        # print(emp)
        # print(type(emp))
        name,date,hours,rate = emp.replace('\n','').split(',')
        print(name,date,hours,rate)
        rate = rate.strip()[1:]
        # rate = rate[1:]
        # wage = float(hours) * float(rate)
        wage = calculate_wage(hours,rate)
        print(name,hours,rate,wage)

Alice 2024-01-01 245  $25.00
Alice 245 25.00 7021.25
Alice 2024-02-01 224 26.00 $

ValueError: could not convert string to float: '6.00 $'