In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sample_hours_rate.csv')
df

               name  hours    rate
0      Katell Bryan     50  $41.94
1   Addison Walters     45  $15.26
2        Veda Stein     36  $34.19
3      Jocelyn Shaw     36  $16.13
4    Shelley Waters     42  $37.78
5  Arthur Frederick     23  $24.61
6    Hollee Stanley     41  $23.98
7     Brennan Avery     40  $39.47
8     Dacey Goodwin     15  $44.42
9     Karyn Harding     46  $49.01

In [3]:
df_numpy = df.to_numpy()
df_numpy

array([['Katell Bryan', 50, '$41.94'],
       ['Addison Walters', 45, '$15.26'],
       ['Veda Stein', 36, '$34.19'],
       ['Jocelyn Shaw', 36, '$16.13'],
       ['Shelley Waters', 42, '$37.78'],
       ['Arthur Frederick', 23, '$24.61'],
       ['Hollee Stanley', 41, '$23.98'],
       ['Brennan Avery', 40, '$39.47'],
       ['Dacey Goodwin', 15, '$44.42'],
       ['Karyn Harding', 46, '$49.01']], dtype=object)

In [5]:
df_numpy_name = np.array([name[0] for name in df_numpy[:,0]])
df_numpy_name

array(['K', 'A', 'V', 'J', 'S', 'A', 'H', 'B', 'D', 'K'], dtype='<U1')

In [7]:
df_numpy[:,0] = df_numpy_name

In [8]:
df_numpy

array([['K', 50, '$41.94'],
       ['A', 45, '$15.26'],
       ['V', 36, '$34.19'],
       ['J', 36, '$16.13'],
       ['S', 42, '$37.78'],
       ['A', 23, '$24.61'],
       ['H', 41, '$23.98'],
       ['B', 40, '$39.47'],
       ['D', 15, '$44.42'],
       ['K', 46, '$49.01']], dtype=object)

In [ ]:
df_numpy_name = np.array([name[0] for name in df_numpy[:,0]]) # use .split method to get firt letters of name and surname
df_numpy_name